body {
  margin: 0;
  padding: 0;
  background-color: #002E40;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

/* Elementos */
.plane {
  width: 15%;
  top: 5%;
  animation: fly-in 2s ease-out forwards, float-up 3s infinite ease-in-out;
}

.planelines {
  width: 20%;
  top: 5%;
  animation: fly-inline 2.5s ease-out forwards, float-up 4s infinite ease-in-out, wiggle 6s infinite ease-in-out;
}

.crane {
  width: 12%;
  top: 35%;
  animation: appear 4s ease-out forwards, wiggle 6s infinite ease-in-out;
}

.truck {
  width: 8%;
  top: 50%;
  left: 30%;
  animation: move-in 4s infinite ease-in-out reverse;
}

.road {
  width: 30%;
  bottom: 33.6%;
  left: 20%;
}

.ship {
  width: 20%;
  z-index: 100;
  top: 79%;
  left: 12%;
  animation: wiggle 5s infinite ease-in-out;
}

/* Ondas */
.waves {
  position: absolute;
  animation: wave-motion 3s infinite ease-in-out, wiggle 5s infinite ease-in-out;
}

.waves1 { top: 90%; left: 30%; width: 14%; }
.waves2 { top: 90%; left: 8%; width: 14%; }
.waves3 { top: 86%; left: 5%; width: 9%; }
.waves4 { top: 85%; left: 28%; width: 9%; }

/* Logo */
.logo {
  width: 15%;
  bottom: 5%;
  right: 5%;
  animation: fade-in 3s ease-out forwards;
}

/* Texto */
.text {
  position: absolute;
  font-size: 1.5vw;
  color: white;
  top: 30%;
  right: 5%;
  text-align: center;
  animation: fade-in 3s ease-out forwards;
}

.text span {
  font-weight: bolder;
  text-transform: capitalize;
}

/* Flechas */
.arrow {
  width: 1%;
  position: absolute;
  animation: float-up 3s infinite ease-in-out, fade-in 2s ease-out forwards;
}
.arrow1 { top: 41%; left: 13%; }
.arrow2 { top: 10%; right: 8%; }
.arrow3 { bottom: 15%; left: 50%; }
.arrow4 { bottom: 13%; left: 51%; }
.arrow5 { top: 12%; right: 9%; }
.arrow6 { bottom: 12%; right: 25%; }
.arrow7 { bottom: 10%; right: 24% }

/* Animaciones */
@keyframes float-up {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes wave-motion {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

@keyframes fly-in {
  from { left: -20%; }
  to { left: 18%; }
}

@keyframes fly-inline {
  from { left: -20%; }
  to { left: 13%; }
}

@keyframes appear {
  from { left: -20%; }
  to { left: 5%; }
}

@keyframes move-in {
  0% { left: 30%; }
  30% { left: 29%; }
  50% { left: 30%; }
  80% { left: 29%; }
  100% { left: 30%; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
}

@media (max-width: 1024px) {
  .plane, .crane, .logo, .waves {
    width: 15%;
  }

  .truck {
    width: 12%;
    top: 56.33%;
  }

  .road{
    left: 20%;
  }
  .crane{
    top: 45%;
    
  
  }

  .text {
    font-size: 2vw;
    top: 25%;
    left: 10%;
  }

  .arrow {
    width: 1.5%;
  }

  .ship{
    width: 25%;
    top: 83%;
  }
}

@media (max-width: 768px) {
  .crane, .waves {
     width: 25%;
   }
 
   .truck {
     width: 18%;
     top: 55%;
   }
 
   .road{
     width: 50%;
     top: 62.3%;
     left: 45%;
   }
 
   .text {
     font-size: 3vw;
     top: 23%;
     left: 10%;
   }
 
   .ship{
     width: 38%;
     top: 78%;
   }
 
   .logo{
     width: 30%;
     top: 75%;
   }

   .plane, .planelines{
     width: 30%;
     top: 10%;
   }

 .waves1 { top: 80%; left: 30%; }
 .waves2 { top: 78%; left: 8%;  }
 .waves3 { top: 82%; left: 5%;  }
 .waves4 { top: 85%; left: 28%;  }

 .arrow1 { top: 41%; left: 13%; }
 .arrow2 { top: 10%; right: 8%; }
 .arrow3 { bottom: 15%; left: 65%; }
 .arrow4 { bottom: 30%; left: 51%; }
 .arrow5 { top: 12%; right: 9%; }
 .arrow6 { bottom: 56%; right: 25%; }
 .arrow7 { bottom: 54%; right: 24% }

   @keyframes move-in {
     0% { left: 62%; }
     30% { left: 61%; }
     50% { left: 62%; }
     80% { left: 61%; }
     100% { left: 62%; }
   }

}

@media (max-width: 390px) {
 .crane, .waves {
    width: 25%;
  }

  .truck {
    width: 18%;
    top: 55%;
  }

  .road{
    width: 50%;
    top: 62.3%;
    left: 45%;
  }

  .text {
    font-size: 3vw;
    top: 23%;
    left: 10%;
  }

  .ship{
    width: 38%;
    top: 78%;
  }

  .logo{
    width: 30%;
    top: 75%;
  }
  
  .plane, .planelines{
    width: 30%;
    top: 10%; 
  }

.waves1 { top: 80%; left: 30%; }
.waves2 { top: 78%; left: 8%;  }
.waves3 { top: 82%; left: 5%;  }
.waves4 { top: 85%; left: 28%;  }

.arrow1 { top: 41%; left: 13%; }
.arrow2 { top: 10%; right: 8%; }
.arrow3 { bottom: 15%; left: 65%; }
.arrow4 { bottom: 30%; left: 51%; }
.arrow5 { top: 12%; right: 9%; }
.arrow6 { bottom: 56%; right: 25%; }
.arrow7 { bottom: 54%; right: 24% }

  @keyframes move-in {
    0% { left: 62%; }
    30% { left: 61%; }
    50% { left: 62%; }
    80% { left: 61%; }
    100% { left: 62%; }
  }


}

.visit-button {
  position: relative;
  bottom: 60%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #003a56;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.visit-button:hover {
  background-color: #00B0C4;
  color: #ffffff;
  transition: 1.2s;
}
